
body{
    background-color: #212121;
    color: #fff;
}

#wrapper{
    border: 2px solid black;
    text-align: center;
    align-items: center;
    background-color: #313131;
    margin: 50px;

}

h1{
    background-color: #111;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#subt{
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}